venv
venv_backup
regdata
.Python
*.pyc
*.key
db*
*.tmproj
initial*
db*
*.json
*.dump
example_python
output
.project
.pydevproject
.project

.pydevproject

.DS_Store

ww13_fixture.py
log
seeding*.txt
.settings*
*.prefs
