{% extends "base.html" %}

{% block content %}

{% for div in Tournaments %}
<h1>{{div.name}} division</h1>
<div>{{div.name}} division has leaguevine id:{{div.l_id}}.
<a href="{{div.link}}">Leaguevine-link</a>.</div>



<h4>Do something:</h4>
<div><a href="/tools/{{div.name}}/newtourney">New tournament</a></div>
<div><a href="/tools/{{div.name}}/clean">Empty tournament</a></div>
<div><a href="/tools/{{div.name}}/addteams">Add Teams to Tournament</a></div>
{% if div.name == "women" %}
<div><a href="/tools/{{div.name}}/addpools">Add Pools</a></div>
{% else %}
<div><a href="/tools/{{div.name}}/addswissround">Add Swiss Round</a></div>
{% endif %}
<div><a href="/tools/{{div.name}}/randomresults">Fill with random results</a></div>

{% endfor %}

<h2>Local stuff:</h2>
<div><a href="/tools/import">Import Teams from Ffindr</a></div>
<div><a href="/tools/createteams">Create/Link Teams on Leaguevine</a></div>



{% endblock content %}
