{% extends "base.html" %}

{% block content %}
<h1>Rankings</h1>

<h2>Biggest Upsets</h2>
<table border="1">
	<tr><td>Round</td><td>Team1</td><td>Team2</td><td >Score</td><td>margin</td><td >pred margin cur</td><td>Upset</td></tr>
	{% for g in upsets %}
	<tr><td>{{g.round}}</td>
		<td title="mark_rank: {{g.team_1.mark_rank}}, strength: {{g.team_1.strength}}">{{g.team_1.name}} ({{g.team_1.chris_rank}})</td>
		<td title="mark_rank: {{g.team_2.mark_rank}}, strength: {{g.team_2.strength}}">{{g.team_2.name}} ({{g.team_2.chris_rank}})</td>
		<td align="center">{{g.team_1_score}} - {{g.team_2_score}}</td>
		<td align="right">{{g.margin}}</td>
		<td align="right">{{g.pred_margin_current}}</td>
		<td>{{g.upset_current}}</td>
	</tr>
	{% endfor %}
</table>



{% endblock content %}
