{% extends "base.html" %}

{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/highcharts.js" type="text/javascript"></script>
<script src="/static/js/modules/exporting.js"></script>

<!-- Additional files for the Highslide popup effect -->
<script type="text/javascript" src="http://www.highcharts.com/highslide/highslide-full.min.js"></script>
<script type="text/javascript" src="http://www.highcharts.com/highslide/highslide.config.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="http://www.highcharts.com/highslide/highslide.css" />

<h2>Strength</h2>
<script type="text/javascript">
$(function () {
    var chart_str;
    var chart_swiss;
    $(document).ready(function() {
        chart_str = new Highcharts.Chart({
            chart: {
                renderTo: 'container_strength',
                type: 'line',
                marginRight: 200,
                marginBottom: 40,
                zoomType: 'x',
            },
            title: {
                text: 'Strength of Top 8 Teams',
                x: -20 //center
            },
            subtitle: {
                text: 'Source: WorldClimate.com',
                x: -20
            },
            xAxis: {
            	title: {
            		text: 'Rounds'
            	},
                categories: ['1','2','3','4','5','6','7','8'],
                minRange: 3,
            },
            yAxis: {
                title: {
                    text: 'Strength'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
            	shared: true,
            	crosshairs:true,
	            formatter: function() {
	                var s = '';	             
	                $.each(this.points, function(i, point) {
	                    s += '<span style="color:' + point.series.color +'">' + 
	                    	point.series.name +'</span>: <b>'+
	                        point.y +'</b> ('+ point.point.rank + ')<br/>';
	                });	                
	                return s;
	            },
	            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b><br/>',
            },

            plotOptions: {
                series: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function() {
                                hs.htmlExpand(null, {
                                    pageOrigin: {
                                        x: this.pageX+200,
                                        y: this.pageY
                                    },
                                    headingText: this.series.name,
                                    maincontentText: this.text,
                                    width: 300
                                });
                            }
                        }
                    },
                    marker: {
                        lineWidth: 1
                    }
                }
            },

            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: 60,
                y: 10,
                borderWidth: 0,
                floating: true,
            },
            series: [
            {% for t in teams %}
            {
                "name": '{{t.final_rank}}: {{t.name}}',
                data: {{t.str_list|safe}},
                marker: {
                	radius: 5,
                },
                {% if forloop.counter <= 8 %}
                visible: true
                {% else %}
                visible: false
                {% endif %}
            }, 
            {% endfor %}
            ]
        });
        chart_swiss = new Highcharts.Chart({
            chart: {
                renderTo: 'container_swiss_score',
                type: 'line',
                marginRight: 200,
                marginBottom: 40,
                zoomType: 'x',
            },
            title: {
                text: 'Average Swiss scores',
                x: -20 //center
            },
            xAxis: {
            	title: {
            		text: 'Rounds'
            	},
                categories: ['R1','R2','R3','R4','R5','R6','R7','R8'],
                minRange: 3,
            },
            yAxis: {
                title: {
                    text: 'Average Swiss Scores'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
            	shared: true,
            	crosshairs:true,
            },

            plotOptions: {
                series: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function() {
                                hs.htmlExpand(null, {
                                    pageOrigin: {
                                        x: this.pageX,
                                        y: this.pageY
                                    },
                                    headingText: 'round: ' + this.series.name,
                                    maincontentText: '<b>'+ this.series.name +'</b><br/>'+'round ' + this.x +': '+ this.y,
                                    width: 200
                                });
                            }
                        }
                    },
                    marker: {
                        lineWidth: 1
                    }
                }
            },

            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: 60,
                y: 10,
                borderWidth: 0,
                floating: true,
            },
            series: [
            {% for t in teams %}
            {
                name: '{{t.final_rank}}: {{t.name}}',
                data: {{t.swiss_scores}},
                marker: {
                	radius: 5,
                },
                {% if forloop.counter <= 8 %}
                visible: true
                {% else %}
                visible: false
                {% endif %}
            }, 
            {% endfor %}
            ]
        });
        chart_rank = new Highcharts.Chart({
	        colors: ['#4572A7', '#4572A7','#AA4643', '#AA4643', '#89A54E', '#89A54E', 
    				  '#80699B', '#80699B', '#3D96AE', '#3D96AE', '#DB843D', '#DB843D', '#92A8CD', '#92A8CD', '#A47D7C', '#A47D7C', '#B5CA92', '#B5CA92'],
            chart: {
                renderTo: 'container_ranks',
                type: 'line',
                marginRight: 200,
                marginBottom: 40,
                zoomType: 'x',
            },
            title: {
                text: 'Ranks',
                x: -20 //center
            },
            xAxis: {
            	title: {
            		text: 'Rounds'
            	},
                categories: ['R1','R2','R3','R4','R5','R6','R7','R8'],
                minRange: 3,
            },
            yAxis: {
                title: {
                    text: 'Rank'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }],
                allowDecimals : false,
                reversed: true,
            },
            tooltip: {
            	shared: true,
            	crosshairs:true,
            },

            plotOptions: {
                series: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function() {
                                hs.htmlExpand(null, {
                                    pageOrigin: {
                                        x: this.pageX,
                                        y: this.pageY
                                    },
                                    headingText: 'round: ' + this.series.name,
                                    maincontentText: '<b>'+ this.series.name +'</b><br/>'+'round ' + this.x +': '+ this.y,
                                    width: 200
                                });
                            }
                        }
                    },
                    marker: {
                        lineWidth: 1
                    }
                }
            },

            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: 60,
                y: 10,
                borderWidth: 0,
                floating: true,
            },
            series: [
            {% for t in teams %}
            {
                name: '{{t.final_rank}}: {{t.name}}',
                data: {{t.chris_ranks}},
                marker: {
                	radius: 5,
                },
                {% if forloop.counter <= 8 %}
                visible: true
                {% else %}
                visible: false
                {% endif %}
            }, 
            {
                name: '{{t.final_rank}}: {{t.name}} (power)',
                data: {{t.power_ranks}},
                dashStyle: 'Dash',
                marker: {
                	radius: 5,
                },
                {% if forloop.counter <= 2 %}
                visible: true
                {% else %}
                visible: false
                {% endif %}
            }, 
            {% endfor %}
            ]
        });

    });    
});
		</script>

<div id="container_strength" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<div id="container_swiss_score" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<div id="container_ranks" style="min-width: 400px; height: 400px; margin: 0 auto"></div>


<h2>Biggest Upsets</h2>
<table border="1">
	<tr><td>Round</td><td>Team1</td><td>Team2</td><td >Score</td><td>margin</td><td >pred margin cur</td><td>Upset</td></tr>
	{% for g in upsets %}
	<tr><td>{{g.round}}</td>
		<td title="mark_rank: {{g.team_1.mark_rank}}, strength: {{g.team_1.strength}}, final: {{g.team_1.final_rank}}">{{g.team_1.name}} ({{g.team_1.chris_rank}})</td>
		<td title="mark_rank: {{g.team_2.mark_rank}}, strength: {{g.team_2.strength}}, final: {{g.team_2.final_rank}}">{{g.team_2.name}} ({{g.team_2.chris_rank}})</td>
		<td align="center">{{g.team_1_score}} - {{g.team_2_score}}</td>
		<td align="right">{{g.margin}}</td>
		<td align="right">{{g.pred_margin_current}}</td>
		<td>{{g.upset_current}}</td>
	</tr>
	{% endfor %}
</table>



{% endblock content %}
