{% extends "base.html" %}

{% block content %}
<h1>{{tournament.name}}</h1>

{% if swiss.objects.count > 5 %}
<h2>Brackets:</h2>
<div><a href="?round=QF">create SMS for transition to Quarterfinals</a></div>
<div><a href="?round=SF">create SMS for transition to Semifinals</a></div>
<div><a href="?round=F">create SMS for transition to Placing Games</a></div>
{% endif %}

<h2>Swissdraw:</h2>
{% for r in swiss.objects %}
{% if forloop.counter == 1 %}
<h2>Latest round:</h2>
<div><a href="?round={{r.round_number}}">create SMS for transition to round {{r.round_number}}</a></div>
<br><br>
<h3>Previous rounds:</h3>
{% else %}
<div><a href="?round={{r.round_number}}">create SMS for transition to round {{r.round_number}}</a></div>
{% endif %}


{% endfor %}

{% endblock content %}
