{% extends "base.html" %}

{% block content %}
<h1>SMS Control Panel:</h1>
<p>You are logged in as <b>{{user.username}}</b>. Click <a href="/sms/logout">here</a> to log out.</p>

{% if nr_created %}
<p><b>created {{nr_created}} new SMS messages.</b></p><br>
{% endif %}


<div>create SMS for <a href="/sms/open/create/">open division</a></div>
<div>create SMS for <a href="/sms/mixed/create/">mixed division</a></div>
<div>create SMS for <a href="/sms/women/create/">women division</a></div>
<p></p>
<div>see <a href="/sms/admin">admin</a> for list of all sms</div>
<div>send <a href="/sms/custom">SMS to a specific number, team or all teams</a></div>

{% if SMStosend %}
<h1>You have {{SMStosend.count}} SMS ready to send:</h1>
<table>
	<tr><td>Team</td><td>Tournament</td><td>Round</td><td>Number</td><td>Message</td></tr>
{% for s in SMStosend %}
	<tr><td>{{s.team}}</td>
		<td>{{s.tournament}}</td>
		<td>{{s.round}}</td>
		<td>{{s.number}}</td>
		<td>{{s.message}}</td>
	</tr>
{% endfor %}
</table>
<form action="/sms/send" method="post" name="frmSendSMS">
{% csrf_token %}
<input type="submit" value="Send 30 SMS" />
<a href="/sms"><input type="button" value="Cancel" /></a>
</form>

{% endif %}


{% endblock content %}
