{% extends "base.html" %}

{% block content %}

{% for div in Tournaments %}
<h1>{{div.name}} division</h1>
<div>{{div.name}} division has playwithlv id:{{div.l_id}} and leaguevine id:{{div.lv_id}}.
<a href="{{div.link}}">Leaguevine-link</a>.</div>



<h4>Do something:</h4>
<div><a href="/tools/{{div.name}}/newtourney/">New tournament</a></div>
<div><a href="/tools/{{div.name}}/addswissround/">Add Swiss Round</a></div>
<div><a href="/tools/{{div.name}}/randomresults/">Fill with random results</a></div>
<div><a href="/tools/{{div.name}}/addbracket/">Add full playoff bracket</a></div>
<div><a href="/tools/{{div.name}}/movetoplayoff/">Move top 8 teams to playoff bracket</a></div>

{% endfor %}

<h2>Local stuff:</h2>
<div><a href="/tools/import/">Import Teams from Ffindr</a></div>
<div><a href="/tools/createteams/">Create/Link Teams on Leaguevine</a></div>
<div><a href="/tools/idreplace/">Overwrite IDs from leaguevine to playwithlv</a></div>




{% endblock content %}
